# Prevent accidentally checking in configured file
bmh_admin_portal_backend/bmh_admin_portal_config.py

*.swp
package-lock.json
__pycache__
.pytest_cache
.env
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
